*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black; 
    color: #00FFF0; 
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #00FFF0; 
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    justify-content: space-between;
    font-size: 1.8rem;
    color: #fff; 
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    padding: 20px;
}

nav a:hover,
nav a:active{
    color: #00FFF0; 
    border-bottom: 3px solid #00FFF0; 
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid #00FFF0; 
        border-bottom: 3px solid #00FFF0; 
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,1);
    }
    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #00FFF0; 
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #fff; 
}

span{
    color: #00FFF0; 
}

.home-content h3{
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #fff; 
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #00FFF0; 
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #00FFF0; 
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #00FFF0; 
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #00FFF0; 
    box-shadow: 0 0 25px #00FFF0; 
}

.btn{
 display: inline-block;
 padding: 1rem 2.8rem;
 background-color: black;
 border-radius: 4rem;
 font-size: 1.6rem;
 color: #fff; 
 letter-spacing: 0.3rem;
 font-weight: 600;
 border: 2px solid #00FFF0; 
 transition: 0.3s ease;
 cursor: pointer;
}

.btn:hover{
    transform: scale(1.03);
    background-color: #00FFF0; 
    color: black;
    box-shadow: 0 0 25px #00FFF0; 
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Student";
    color: #00FFF0; 
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6 infinite;
}

#about{
    width: 100%;
    padding: 100px 0px;
    background-color: black; 
}

.AboutPic{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: #fff; 
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: #00FFF0; 
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: justify;
}

#button{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #fff; 
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #00FFF0; 
    transition: 0.3s ease;
    cursor: pointer;
}

#button:hover{
      transform: scale(1.03);
    background-color: #00FFF0; 
    color: black;
    box-shadow: 0 0 25px #00FFF0; 
}

.faceme {
 width: 500px;
 height: auto;
 border-radius: 50%;
}

#service{
    background-color: black; 
    width: 100%;
    padding: 100px 0;
}

.dish-content {
    text-align: center;
    font-size: 50px;
    color: white;
}
.dish-content h2{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dish-content{
    padding: 80px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: black; 
    border-radius: 20px;
    margin: 25px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #00FFF0; 
}

h5{
    color: #00FFF0; 
    font-size: 23px;
    margin-bottom: 12px;
}

.pra p{
    color: black;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card ,button{
    background-color: #00FFF0; 
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

footer{
        position: relative;
        width: 100%;
        height: 300px;
        background: black; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

footer p:nth-child(1){
    font-size: 30px;
    color: #00FFF0; 
    margin-bottom: 15px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: #00FFF0; 
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

#social{
    display: flex;
}

.social-icons a{
    display: inline flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #00FFF0; 
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #00FFF0; 
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #00FFF0; 
    box-shadow: 0 0 25px #00FFF0; 
}

.end{
    position: absolute;
    color: rgb(251, 251, 251);
    bottom: 35px;
    font-size: 14px;
}

@media only screen and (max-width: 640px) {
    footer {
        width: 100%;
    }
}

@keyframes cursor{
    to{
        border-left: 3px solid #00FFF0; 
    }
}

@keyframes words{
  0%, 20%{ 
    content: "Lonely Person";   
  }
 21%, 40%{
    content: "LoverBoy";
 }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vh;
        margin-top: 4rem;
    }
}